/* You like what you see huh */



/* -------------- GLOBAL -----------------*/

:root {

    /* -------------- COLOUR VARIABLE -----------------*/
    --blue1: #32328D;
    --blue2: #2A2779;
    --blue3: #211C65;
    --blue4: #181251;

    --froly1: #FA8796;
    --froly2: #E06271;
    --froly3: #CA4655;
    --froly4: #B02F3C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -- Makes REM easier to manager*/
html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-size: 1.6rem;
    /* 16px base font-size */
    font-family: "Poppins", sans-serif;
    color: #fff;
}


.generator {
    display: grid;
    grid-template-areas:
        "input topbar"
        "input preview"
        "input footer";

    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 10.0rem auto 8.0rem;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}




/* -------------- TOP BAR -----------------*/
header {
    grid-area: topbar;
    background-color: var(--blue1);
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    flex-direction: column;
}

.title {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
    ;
}

.subtitle {
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
}

/* -------------- INPUT SECTION  -----------------*/
.input-section {
    grid-area: input;
    background-color: var(--blue4);
    height: 100%;
    overflow: hidden;
}

nav {
    height: 7.5rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0rem;

}

nav button {
    height: 100%;
    flex: 1;
    flex-wrap: wrap;
    border-radius: 0%;
    border: none;
    background-color: var(--blue1);
    color: white;
    border-right: 0.1rem solid var(--blue4);
    border-top: 0.1rem solid var(--blue4);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav button:hover {
    background-color: var(--blue2);
    cursor: pointer;
}

nav button.active {
    background-color: var(--blue4);
}

nav button svg {
    margin-bottom: 0.8rem;

}


.input-fields {
    padding: 3.2rem;
    height: calc(100% - 3.2rem);
    overflow: auto;
    gap: 2.0rem;
    flex-direction: column;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;

}

.next-prev-btns {
    width: 100%;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
}

.next-prev-btns button {
    width: 50%;
    border-radius: 0.8rem;
    cursor: pointer;
    gap: 0.8rem;
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 2.4rem;


}

.next-btn {
    background-color: var(--froly3);
    color: white;
    border: none;
}

.prev-btn {
    background-color: white;
    color: black;
    border: none;
}


#next-btn-template,
#prev-btn-images {
    width: 100%;
}

#next-btn-images{
    display: none;
}

.template-div,
.detail-div,
.style-div,
.images-div {
    gap: 3.2rem;
}

.input {
    background-color: var(--blue4);
    color: #fff;
    padding: 1.6rem;
    border: 0.1rem solid #ffffff45;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    margin: 0.4rem 0 2.4rem 0;
}

input:focus {
    outline: none;
    border: 1px solid white;
}

input::placeholder {
    color: #ffffff45
}

.input-section h3 {
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 2.0rem;
}

.input-section label {
    margin-bottom: 0.8rem;
    ;
}

/* IMAGES*/

.images-info{
    margin-bottom: 4.0rem;
}


/*TEMPLATE*/

.template {
    width: 100%;
    margin-bottom: 4.0rem;

}

.template p {
    margin-bottom: 0.8rem;
    ;
}

/*Style*/

.input-dropdown-div {
    background-color: var(--blue4);
    color: #fff;
    border: 0.1rem solid #ffffff45;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    margin: 0.4rem 0 4.0rem 0;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    position:relative;
}

#font-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 1.6rem;
    z-index: 1;
    font-size: 1.6rem;
}

#dropdown-chevron{
    position:absolute;
    z-index:2;
    right: 1.6rem;
    pointer-events: none;
}

.colour-selector-div {
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    width: 100%;
    margin-bottom: 4.0rem;
    padding: 1.6rem;
    border: 0.1rem solid #ffffff45;
    border-radius: 0.8rem;
    font-size: 1.6rem;
}

#textColourInputText,
#linkColourInputText {
    margin-bottom: 0rem;
    width: 100%
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 0.8rem;
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: solid 0.1rem #fff;
    border-radius: 0.8rem;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    height:0.2rem;
    background-color: white;
    margin: 1.6rem 0  ;
    width:100%;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2.4rem;
    height: 2.4rem;
    background: var(--froly3);
    border: solid 0.2rem white;
    border-radius: 100%;
}

#fs-slider-output{

 
}

.fs-div{
    text-align: center;
    background-color: var(--blue4);
    color: #fff;
    padding: 1.6rem;
    border: 0.1rem solid #ffffff45;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    margin: 0.4rem 0 2.4rem 0;
    align-items: center;
    gap: 0.8rem;
}





/* -------------- PREVIEW SECTION  -----------------*/
.preview-section {
    grid-area: preview;
    padding: 3.2rem 6.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.0rem;
    background-color: var(--blue1);
    color: #333;

}

/* -------------- BROWSER WINDOW  -----------------*/

.browser-window {
    width: 100%;
    height: calc(100% - 3.2rem);
    border-radius: 1.5rem;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*background-color: white;*/
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    box-shadow: 0 0 2.0rem rgba(0, 0, 0, 0.1);
}

.toolbar {
    background-color: #333;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.toolbar-buttons {
    display: flex;
    gap: 0.8rem;
    margin-left: 0.8rem
}

.toolbar-buttons span {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.close {
    background-color: #FF605C;
}

.minimize {
    background-color: #FFBD44;
}

.maximize {
    background-color: #00CA4E;
}

.email-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.recipient {
    background-color: #d4f0f2;
    border-radius: 3.2rem;
    padding: 0.2rem 0.8rem;
    border: 0.1rem solid #56c3bb;
}

.divider {
    padding-top: 0.8rem;
    margin-bottom: 1.6rem;
    border-bottom: 0.1rem #ccc solid
}

.content {
    height: calc(100% - 3.2rem);
    /* Adjust height to fill the rest of the div */
    background-color: white;
    padding: 2.0rem;
    border-radius: 0 0 1.5rem 1.5rem;
}

.sig-prev {
    height: calc(100% - 6.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.copy-btns {
    gap: 1.6rem;
}

.copy-btn {
    border-radius: 0.8rem;
    border: none;
    padding: 1.6rem 2.4rem;
    width: 200px;
    font-size: 1.6rem;
}

#copy-sig-btn {
    background-color: var(--froly3);
    color: #fff;
}

#copy-sig-btn:hover {
    background-color: var(--froly4);
    cursor: pointer;
}

#copy-src-btn {
    border: solid 0.1rem #fff;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#copy-src-btn:hover {
    background-color: var(--blue2);
    cursor: pointer;

}



/* -------------- FOOTER -----------------*/
footer {
    grid-area: footer;
    background-color: var(--blue1);
    align-items: center;
    justify-content: center;
    color: white;
}

a.diquan {
    margin-left: 0.4rem;
    color: white;
}



/* -------------- VISIBILITY -----------------*/
.isHidden {
    display: none;
}

.isNotVisible {
    visibility: hidden;
}

.isVisible {
    visibility: visible
}


/* -------------- MOBILE RESPONSIVENESS -----------------*/

@media only screen and /*(max-width:768px)*/ (max-width:968px){

    /*----- GLOBAL  ----*/
    body {
        background-color: var(--blue1);
    }

    .generator {
        display: grid;
        grid-template-areas:
            "topbar"
            "input"
            "preview"
            "footer";

        grid-template-columns: 1fr;
        grid-template-rows: 15.0rem auto auto 7.0rem;
        gap: 0;
        height: auto;
    }

    /*----- PREVIEW SECTION ----*/
    .preview-section {
        padding: 3.2rem 1.6rem;
    }

    /*----- COPY BUTTONS----*/
    .copy-btns {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .copy-btn {
        border-radius: 0.8rem;
        border: none;
        padding: 1.6rem 2.4rem;
        width: 100%
    }

    #copy-src-btn:hover {
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;

    }

    #copy-sig-btn:hover {
        background-color: var(--froly3);
        cursor: pointer;
    }


    header {
        background-color: var(--blue1);
    }

    .input-section{
        background-color: var(--blue4);
    }

    nav button {
        background-color: var(--blue1);
    }


    nav button.active {
        background-color: var(--blue4);
    }

    nav {
        background-color: var(--blue1);
    }

    nav button {
        /*border-radius: 0.8rem 0.8rem 0 0;
        border:none;*/
    }

    /*nav button #template-btn{
        border-radius: 0 0.8rem 0 0;
    }

    nav button #images-btn{
        border-radius: 0.8rem 0 0 0;
    }*/

    .sig-prev {
        height: auto;
    }



    #prev-btn-images, #next-btn-images {
        width:50%;
        display: block;
    }

    .input-fields {
        padding: 3.2rem 1.6rem;
    }

}

@media only screen and /*(min-width:768px)*/ (min-width:968px) {

    .next-btn:hover {
        background-color: var(--froly4);
    }

    .prev-btn:hover {
        background-color: #d0d3d4;
    }
}